RewriteEngine On

# Allow direct access to /api folder
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^ - [L]

# Do NOT rewrite real files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Root URL → api/index.php
RewriteRule ^$ api/index.php [L]
